<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BirdAndBrewMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/BirdAndBrewMVC.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Bird & Brew</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "MenuItems")">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("About", "Home")">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <footer class="py-3 my-4 "> <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a  asp-controller="Home" asp-action="Index" class="nav-link px-2 text-body-secondary">Home</a></li> 
            <li class="nav-item"><a asp-controller="Home" asp-action="About" class="nav-link px-2 text-body-secondary">About</a></li> 
            <li class="nav-item"><a asp-controller="MenuItems" asp-action="Index" class="nav-link px-2 text-body-secondary">Menu</a></li>
            <li class="nav-item"><a asp-controller="Home" asp-action="Privacy" class="nav-link px-2 text-body-secondary">Privacy</a></li>
            <li class="nav-item"><a asp-controller="Admin" asp-action="Index" class="nav-link px-2 text-body-secondary">Administrator</a></li>
        </ul>
        <p class="text-center text-body-secondary">© Bird & Brew 2025</p> </footer>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>